@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

* {
    font-family: Inconsolata, monospace;
}

strong {
    animation: pulse 0.5s infinite;
}

@keyframes pulse {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
  }

body {
    background-color: rgb(0, 14, 134);
}

main {
    display: flex;
    flex-direction: row;
}

.users-page {
    background-color: white;
    width: 80%;
    border-radius: 10px;
    margin: 25px;
}


.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;

    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 30%;
    margin: 25px;
    border-radius: 10px;
}

.signup h2 {
    font-size: 25px;
    margin: 0;
}

.signup ul {
    text-align: left;
    list-style-type: square;
    list-style-position: inside;
}

.signup p{
    margin: 0px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.signup input{
    padding: 5px;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-style: solid;
    box-shadow: 5px 5px 0px black;
}

#digits {
    padding-top: 5px;
    padding-bottom: 5px;
    color: red;
}

#special-characters {
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(1, 192, 1);
}

.signup form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup#submit-button{
    text-align: center;
    margin-top: 40px;
    background-color: lime;
    padding: 20px;
    color: rgb(0, 0, 0);
    width: 120px;
}

.signup#signup-pick-color{
    width: 50px;
    height: 50px;
}

.popup-error {
  display: none; /* Esconde o popup por padrão */
  position: fixed;
  top: 0px; left: 0px;
  
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.popup-content {
  background: #fff;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 8px;
  position: relative;
  border-style: solid;
  border-color: black;
  box-shadow: 5px 5px 0px black;
  font-size: 8px;
}


@keyframes shake {
  0%   { transform: translateX(0); }
  20%  { transform: translateX(-5px); }
  40%  { transform: translateX(5px); }
  60%  { transform: translateX(-5px); }
  80%  { transform: translateX(5px); }
  100% { transform: translateX(0); }
}

.input.shake {
    animation: shake 0.6s infinite;
}

input:focus {
    outline: none;
}